h1{
    color: #84482D;
    text-align: center;
}
p{
    color: #1C1D1F;
    font-size: 18px; 
    text-align: justify;
    line-height: 1.5em;
}
img{
    width: 150px;
    height: auto;
    margin: 10px;
}
div{
    display: flex;
    justify-content: space-around;
    border: 2px solid #BE6841;
    padding: 20px;

}